<header class="site-header">
  <div class="wrap">
    🧘 Yoga Studio
    <nav>
    <a href="/" class="btn">Home</a>
    {{^user}}
      <a href="../login" class="btn">Login</a>
      <a href="../register" class="btn">Register</a>
    {{/user}}
    <a href="courses" class="btn"> Courses </a>
    </nav>
    {{#user}}
    <div class="user">
      Signed in as <strong>{{ name }}</strong>
      <a href="/auth/logout">Logout</a>
    </div>

    {{#isInstructor}}
      <a href="/admin/courses/new" class="btn">Create Course</a>
    {{/isInstructor}}
    {{/user}}
  </div>
</header>
