<header class="site-header">
  <div class="wrap">
    🧘 Yoga Studio
    <nav>
      <a href="../login">Login</a>
      <a href="../register">Register</a>
    </nav>
    {{#user}}
    <div class="user">
      Signed in as <strong>{{ name }}</strong>
    </div>
    {{/user}}
  </div>
</header>
