<header class="navbar">
  <div class="nav-container">

    
    
    <nav class="nav-left">
      
      <a href="/">Home</a> 
      <a href="/courses"> Courses </a>
      {{#user}}
        {{#isInstructor}}
            <a href="/admin/courses/new" class="nav-left">Create Course</a>
            <a href="/admin/display_users" class="nav-left" >View Users</a>  
        {{/isInstructor}}
      {{/user}}

    </nav>

    <img src="/static/images/StudioLogo.png" class="logo" />

    <nav class="nav-right">

      {{^user}}
        <a href="../login">Login</a>
        <a href="../register">Register</a>
      {{/user}}

      {{#user}}
        <a href="/auth/user_account">{{user.name}}'s Account</a>
        <a href="/auth/logout">Logout</a>
    </nav>
    

    {{/user}}

  </div>
</header>
