{{> head}}
{{> header}}
<link rel="stylesheet" href="../public/styles.css"/>
<h1>Login</h1>

<form method="POST" action="/auth/login">
    <label name="email">Email:</label>
    <input name="email" placeholder="Email"/>
    <br>
    <label name="password">Password:</label>
    <input name="password" type="password" placeholder="Password"/>
    <button class="btn btn-primary">Login</button>
</form>

{{> footer}}