{{> head}}
{{> header}}
<link rel="stylesheet" href="../public/styles.css"/>
<h1>Register</h1>

<form method="POST" action="/auth/register">
  <label name="name">Name:</label>
  <input name="name" placeholder="Name" />
  <br />
  <label name="email">Email:</label>
  <input name="email" placeholder="Email" type="Email"/>
  <br />
  <label name="password">Password</label>
  <input name="password" type="password" placeholder="Password" />
  <br />
  <button class="btn primary">Register</button>
</form>

{{> footer}}