{{> head}}
{{> header}}

<h1> Hello {{user.name}}!</h1>

<div class="account-layout">
    <h2>Account Details</h2>
    <p><strong>Email: </strong> {{user.email}}</p>
    <a href="/auth/change_password" class="btn">Update Password</a>
</div>
    <section class="bookings-section">
  <h2>My Bookings</h2>

  {{#bookings}}
    <div class="booking-card">

      <!-- HEADER -->
      <div class="booking-header">
        <h3>{{courseTitle}}</h3>
        <span class="badge {{status}}">{{status}}</span>
      </div>

      <!-- TYPE -->
      <p class="booking-type">
        {{type}} booking
      </p>

      <!-- SESSIONS -->
      {{#sessions.length}}
        <div class="sessions">
          <strong>Sessions:</strong>
          <ul>
            {{#sessions}}
              <li>{{start}} → {{end}}</li>
            {{/sessions}}
          </ul>
        </div>
      {{/sessions.length}}

    {{#isCancelled}}
        <span class="muted">Cancelled</span>
    {{/isCancelled}}

    {{^isCancelled}}
      <form action="/bookings/{{id}}/cancel" method="POST">
        <button class="btn danger" type="submit" onclick="return confirm('Cancel this Course/Session?')">
          Cancel Booking
        </button>
      </form>
    {{/isCancelled}}

    </div>
  {{/bookings}}

  {{^bookings}}
    <p class="muted">You have no bookings yet.</p>
  {{/bookings}}
</section>
</div>

{{> footer}}