{{> head}}
{{> header}}

<h1> Hello {{user.name}}!</h1>

<section>
    <h2>Your Details:</h2>
    <p>Name: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
</section>

<section>
    <a href="/auth/change_password" class="btn primary">Update Password</a>
</section>

<section>
<h2> My Bookings </h2>

{{#bookings}}
    <div class="booking-card">
        <p><strong>Course:</strong> {{courseName}}</p>
        <p><strong>Type:</strong> {{type}}</p>
        <p><strong>Status:</strong> {{status}}</p>
        <p><strong>Sessions:</strong> {{sessionCount}} </p>
    </div>
{{/bookings}}

{{^bookings}}

{{/bookings}}


{{> footer}}